<a href="https://colab.research.google.com/github/syrined/gomycode_checkpoint/blob/main/checkpoint2l.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#ex1
l=[]
for i in range(2000,3201):
  if (i%7==0) and (i%5!=0):
    l.append(i)
print(l)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [ ]:
#ex2
def fact(x):
 if (x==1) or (x==0):
   return 1
 else :
  x=x*fact(x-1)
  return x
print(fact(100))

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [ ]:
#ex3
def dic(n):
  mydict={}
  i=1
  while i<=8:
    mydict[i]=i*i
    i=i+1
  return mydict
print( dic(8))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
#ex4
def missing(ch,x):
  for i in range(0,len(ch)):
    if i==x:
      new=ch.replace(ch[i],"")
  return new

In [ ]:
print(missing("kitten",2))

kien

In [ ]:
ch="kitten"
s=ch.replace("k","*")
print(s)

*itten

In [ ]:
#ex5
import numpy as np 
def convert(arr):
  print("original array elements",arr)
  return arr.tolist()
print(convert(np.array([[1,2],[3,4]])))

original array elements [[1 2]
 [3 4]]
[[1, 2], [3, 4]]

In [ ]:
#ex6
import numpy as np
def  covariance(arr1,arr2):
  print("Original array1",arr1)
  print("Original array2",arr2)
  return np.cov(arr1,arr2)
print(   covariance(np.array([0,1,2]),np.array([2,1,0]))      )

Original array1 [0 1 2]
Original array2 [2 1 0]
[[ 1. -1.]
 [-1.  1.]]

In [38]:
#ex7
import pandas as pd  
import math 
d=input()
def fonc(d):
  C=50
  H=30
  l=d.split(',')
  l1=[]
  for i in l:
    Q= math.sqrt((2 * C *float(i)/H))
    l1.append(round(Q))
    d1 = ', '.join([str(elem) for elem in l1])
  
  return d1
print(fonc(d))

100,150,180
18, 22, 24